/* global.css */

.contentf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-wrapper {
    display: flex;
    gap: 20px;
    max-width: 800px;
    width: 100%;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .form-info {
    max-width: 350px;
    width: 100%;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-info p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .form-input::placeholder,
  .form-textarea::placeholder {
    color: #bbb;
  }
  
  .form-textarea {
    resize: none;
    height: 100px;
  }
  
  .form-button {
    width: 100%;
    padding: 12px;
    background-color: #050d7c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #040e99;
  }
  