.recent-products-carousel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  
  .carouselP-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .carouselP {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap; /* Asegura que los ítems no se envuelvan */
  }
  
  .carouselP-inner {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
  }
  
  .carouselP-item {
    flex: 0 0 auto;
    width: 300px; /* Ajusta según el tamaño de tus tarjetas */
    margin: 0 10px; /* Espaciado entre elementos */
  }
  