/* src/styles/profileMenu.css */
.profile-menu {
    position: relative;
    display: inline-block;
    align-items: center;
  }
  
  .profile-icon {
    cursor: pointer;
  }

  .profile-info {
    display: flex;
    align-items: center;
    right: inherit;
  }
  
  .profile-login-text, 
  .profile-username {
    margin-right: 10px; /* Espacio entre el texto y la imagen *//* Tamaño del texto */
    line-height: 1; /* Alineación del texto con la imagen */
  }

  .profile-image {
    width: 40px; /* Tamaño pequeño para la imagen de perfil */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto;
  }
  
  .profile-menu ul {
    list-style-type: none;
    margin: 0;
    display: flex;
  }
  
  .profile-menu li {
    margin: 5px 0;
  }
  
  .profile-menu a, .profile-menu button {
    text-decoration: none;
    color: #333;
  }
  
  .profile-dropdown {
    display: none; /* Oculta el menú por defecto */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajusta según la altura de la imagen */
    right: 0;
    background-color: rgba(9, 36, 189, 0.788);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999999;
  }
  
  .profile-menu:hover .profile-dropdown {
    display: flex; /* Muestra el menú al hacer hover */
  }
  
  .profile-dropdown a,
  .profile-dropdown button {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .profile-dropdown a:hover,
  .profile-dropdown button:hover {
    background-color: #f1f1f1;
  }
  